body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img{
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.search-div{
  background-image: url("https://assets.weforum.org/article/image/responsive_big_webp_hySrQhk9QgN45B-0z8PR0bd8ZRyDZ9LnvzPSGaIb91Q.webp");
  height: 400px;
  width: 100%;
}

.search{
  top: 25%;
  left: 43%;
  position: absolute;
}

.input-field{
  background-color: aliceblue;
  border-radius: 10px;
}

.button-container{
  display: flex;
}

.book-box{
  width: 17%;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px #282c34;
  margin: 10px;
}
.list_book-box{
  padding: 10px;
}
.list_book-box img{
  width: 100px;
  height: 150px;
  align-items: center;
  justify-content: center;
}
.list_book-box h2{
  font-size: small;
}
.list_book-box{
  max-width: 150px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px #282c34;
  margin: 10px;
  padding: 7px;
}
.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loader-container{
  width: 69%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  grid-gap:20px;
  box-sizing: border-box;
  display: flex;
  margin-right: 3rem;
  align-items: center;
  position: relative;
}

.loader {
  border: 10px solid #e66bdf; 
  border-top: 10px solid #3e0b45; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  top: 0%;
  margin-left: 20rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width:700px){
  .loader {
      margin-left: 10rem;
  }
  .loader-container {
      margin-left: 10rem;
  }
}