.container{
    display: flex;
    padding: 10px;
}
.photo{
    height: 119px;
    width: 180px;
}

.cover{
    width: 180px;
    height: 280px;
    margin-top: 10px;
    padding: 10px;
}

.image-container{
	box-shadow: 0 10px 20px #934799;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 5px;
}

.detail-container{
    box-shadow: 0 10px 20px #934799;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 25px;
    padding: 10px;
}

.bio{
    box-shadow: 0 10px 20px #934799;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 10px;
}

.works-container{
    box-shadow: 0 10px 20px #934799;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 5px;
}

.left-div{
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    display: block;
    gap: 20px;
	box-shadow: 0 10px 20px #934799;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.right-div{
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    display: block;
    gap: 20px;
	box-shadow: 0 10px 20px #934799;
    padding: 20px;
    margin: 10px;
}

.description{
    white-space: pre-wrap;
}

.buttons{
    border: none;
    background: none;
    block-size: fit-content;
}

.more-button{
    border: none;
    background: none;
    position:absolute;
    top: 9%;
    right:5%;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #b8a2e6;
}